body{
background-image:url('/images/background-image-3293790_1280.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
}

h1{
color:white;
text-align:center;
}
.intro{
font-weight:900;
margin-top:100px;
font-size:55px;
font-family: 'Merienda', cursive;
}
#lovely{
margin-left:35px;
color:white;
}
button:hover{
transition:.2s;
padding-left:1rem;
padding:right:1rem;
}
.card{
margin-top:10px;
}
#love{
margin-left:35px;
}