body{
background-image:url('/images/background-image-3293790_1280.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
}
.card{
width:30%;
height:40%;
}
h1{
color:white;
text-align:center;
}