{{#partial "content"}}

    <div class="container">

        <h2>{{domain.name}}</h2>

        <div class="card">
            <div class="card-body">
                <p>Size:{{domain.maxSize}}</p>
                <p>Cause:{{domain.cause}}</p>
            </div>
        </div>

    </div>

{{/partial}}

{{> layout.hbs}}