{{#partial "content"}}
    <h1>Princesses of our time</h1>
    <div class="card-group">
        <!-- Card -->
        <div class="card mb-4  mr-4">

            <!-- Card image -->
            <div class="view overlay">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><strong>Bella</strong></h4>
                <!-- Text -->
                <p class="card-text"><strong>Age:</strong>21</p>
                <p class="card-text"><strong>Strength:</strong>Rose Flowers</p>
                <p class="card-text"><strong>Weakness:</strong>Love</p>
                <button class="btn btn-secondary">Add to Domain</button>
            </div>
            <!-- Card content -->

        </div>
        <!-- Card -->

    </div>
{{/partial}}
{{> layout.hbs}}