{{#partial "content"}}
    <div class="row">
        <div class="col-md-6">
            <div class="container" id="lovely">
                <form action="/princess">
                    <div class="md-form w-50">
                        <input id="input-char-counter" name="lovelyName" type="text" length="5" class="form-control">
                        <label for="input-char-counter"class="text-dark" >Name</label>
                    </div>
                    <div class="md-form w-50">
                        <input id="input-char-counter" name="lovelyAge" type="text" length="5" class="form-control">
                        <label for="input-char-counter" class="text-dark">Age</label>
                    </div>
                    <div class="md-form w-50">
                        <input id="input-char-counter" name="lovelyStrength" type="text" length="5" class="form-control">
                        <label for="input-char-counter" class="text-dark">Strength</label>
                    </div>
                    <div class="md-form w-50">
                        <input id="input-char-counter" name="lovelyWeakness" type="text" length="5" class="form-control">
                        <label for="input-char-counter" class="text-dark">Weakness</label>
                        <button type="submit" class="btn btn-secondary" >Go!</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-6">
        <div class="container">
            <form action="">
                <div class="md-form w-50">
                    <input id="input-char-counter" name="domainName" type="text" length="5" class="form-control">
                    <label for="input-char-counter" class="text-white">Name</label>
                </div>
                <div class="md-form w-50">
                    <input id="input-char-counter" name="domainMaxSize" type="text" length="5" class="form-control">
                    <label for="input-char-counter" class="text-white">Group size</label>
                </div>
                <div class="md-form w-50">
                    <input id="input-char-counter" name="domainCourse" type="text" length="5" class="form-control">
                    <label for="input-char-counter" class="text-white">Course</label>
                </div>
                <button type="submit" class="btn btn-secondary" >Go!</button>
            </form>
        </div>
        </div>

    </div>
{{/partial}}
{{> layout.hbs}}