{{#partial "content"}}
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <form action="">
                    <div class="md-form w-50">
                        <input id="input-char-counter" name="heroName" type="text" length="5" class="form-control">
                        <label for="input-char-counter">Name</label>
                    </div>
                    <div class="md-form w-50">
                        <input id="input-char-counter" name="heroAge" type="text" length="5" class="form-control">
                        <label for="input-char-counter">Age</label>
                    </div>
                    <div class="md-form w-50">
                        <input id="input-char-counter" name="heroStrength" type="text" length="5" class="form-control">
                        <label for="input-char-counter">Strength</label>
                    </div>
                    <div class="md-form w-50">
                        <input id="input-char-counter" name="heroWeakness" type="text" length="5" class="form-control">
                        <label for="input-char-counter">Weakness</label>
                        <button type="submit" class="btn btn-secondary" >Go!</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-6">
        <div class="container">
            <form action="">
                <div class="md-form w-50">
                    <input id="input-char-counter" name="squadName" type="text" length="5" class="form-control">
                    <label for="input-char-counter">Name</label>
                </div>
                <div class="md-form w-50">
                    <input id="input-char-counter" name="squadMaxSize" type="text" length="5" class="form-control">
                    <label for="input-char-counter">Group size</label>
                </div>
                <div class="md-form w-50">
                    <input id="input-char-counter" name="squadCourse" type="text" length="5" class="form-control">
                    <label for="input-char-counter">Course</label>
                </div>
                <button type="submit" class="btn btn-secondary" >Go!</button>
            </form>
        </div>
        </div>

    </div>
{{/partial}}
{{> layout.hbs}}