{{#partial "content"}}
    <div class="row">
        <div class="col-md-6">
            <div class="container" id="lovely">
                <form action="/form" method="POST">
                    <div class="md-form w-50">
                        <input id="name" name="name" type="text" length="5" class="form-control">
                        <label for="name"class="text-dark" >Name</label>
                    </div>
                    <div class="md-form w-50">
                        <input id="age" name="age" type="number" length="5" class="form-control">
                        <label for="age" class="text-dark">Age</label>
                    </div>
                    <div class="md-form w-50">
                        <input id="strength" name="strength" type="text" length="5" class="form-control">
                        <label for="strength" class="text-dark">Strength</label>
                    </div>
                    <div class="md-form w-50">
                        <input id="weakness" name="weakness" type="text" length="5" class="form-control">
                        <label for="weakness" class="text-dark">Weakness</label>
                    </div>
                    <div class="md-form w-50">

                        <select id="domain_id" name="domain_id" type="text" length="5" class="form-control">
                            {{#each domains}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                        <label for="domain_id" class="text-dark">Domain</label>
                    </div>
                    <button type="submit" class="btn btn-secondary" >Go!</button>
                </form>

        </div>
    </div>
        <div class="col-md-6">
        <div class="container" id="love">
            <form action="/form" method="POST">
                <div class="md-form w-50">
                    <input  id="domainName" name="domainName" type="text" length="5" class="form-control">
                    <label for="domainName" class="text-white">Name</label>
                </div>
                <div class="md-form w-50">
                    <input  id="domainMaxSize" name="domainMaxSize" type="number" length="5" class="form-control">
                    <label for="domainMaxSize"  class="text-white">Group size</label>
                </div>
                <div class="md-form w-50">
                    <input  id="domainCause" name="domainCause" type="text" length="5" class="form-control">
                    <label for="domainCause" class="text-white">Cause</label>
                </div>
                <button type="submit" class="btn btn-secondary" >Go!</button>
            </form>
        </div>
        </div>

    </div>
{{/partial}}
{{> layout.hbs}}